@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* my solution */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* This gets rid of underline for links */
a {
  text-decoration: none;
  color: gray;
}

/* This gets rid of dots for list items */
ul {
  list-style-type: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul,
.footer ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-evenly;
  padding: 16px;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
}
